.EnemyStats {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05));
}

.EnemyStats p {
    text-align: center;
    color: white;
    margin: 0;
    padding: 8px 0;
    border-bottom: rgba(255, 255, 255, 0.75) 1px solid;
    font-size: 20px;
}

.EnemyStats .EnemyHP {
    height: 25px;
    border-bottom: rgba(255, 255, 255, 0.75) 1px solid;
    display: flex;
    /* background: rgba(0, 0, 0, 0.15); */
}

.EnemyStats .EnemyHP div {
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.05));
    /* background: red; */
}

.EnemyStats .EnemyHP p {
    /* display: none; */
    color: black;
    padding: 0;
    position: absolute;
    width: 100%;
    background: none;
    border-bottom: none;
    font-size: 18px;
}

@media only screen and (min-width: 768px) {
    .EnemyStats {
        margin: 0 15%;
        border-left: rgba(255, 255, 255, 0.75) 1px solid;
        border-right: rgba(255, 255, 255, 0.75) 1px solid;
    }
}