.EnemyImage {
    width: 100%;
    height: calc(100% - 145px);
    position: absolute;
    top: 70px;
    transition-duration: .05s;
    -webkit-user-drag: none;
}

.EnemyImage img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.EnemyImage:active {
    transform: scale(0.9);
}

@media only screen and (min-width: 768px) {
    .EnemyImage {
        height: calc(100% - 70px);
    }
}