.Item {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 245px;
    border: 1px rgba(0, 0, 0, 0.75) solid;
    background: rgba(0, 0, 0, 0.5);
    margin: 5px;
    transition-duration: .05s;
}

.Item:active {
    background: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.75);
}

.Item img {
    flex-grow: 1;
    object-fit: cover;
    width: 100%;
    max-height: 175px;
}

.Item .Quality {
    height: 5px;
    background: linear-gradient(90deg, lime, green);
}

.Item .Quality[quality=Green] {
    background: linear-gradient(90deg, lime, green);
}

.Item .Quality[quality=Blue] {
    background: linear-gradient(90deg, rgb(70, 113, 255), rgb(0, 60, 255));
}

.Item .Quality[quality=Red] {
    background: linear-gradient(90deg, red, darkred);
}

.Item .Quality[quality=Purple] {
    background: linear-gradient(90deg, #9a3bff, #5d00bf);
}

.Item .Quality[quality=Orange] {
    background: linear-gradient(90deg, orange, brown);
}

.Item .Name {
    color: white;
    font-size: 16px;
    margin: 10px 2px;
}

.Item .Price {
    color: white;
    margin: 0;
    background: rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 14px;
    padding: 2.5px 0;
}

.Item:active .Name {
    color: black;
}

.Item:active .Price {
    color: black;
    background: rgba(255, 255, 255, 0.25);
}