.MainScreen {
    backdrop-filter: none;
    z-index: 0;
    background: url(../resources/img/bg/1_Desert.png);
    background-size: cover;
    background-position: 50%;
    animation: none;
    margin: 0;
    width: 100vw;
    height: 100vh;
}